*.o
*.ko
*.obj
*.elf

*.so
*.dylib
*.dll

*.exe
*.out
*.app

*.tar.gz
*.zip
*.rar

*.log
*.sql
*.sqlite

.env
.env.*
*.env
*.env.*


node_modules/
vendor/

.DS_Store

*~
*.swp
.vscode/
.idea/
tmp
storage